<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    <link rel="stylesheet" href="/css/style.css">
    {% block javascripts %}
    {#} {{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>

<body>
    {% block body %}
    <h1>Esto es el base</h1>
    {# Esto es un comentario

    asfasd
    #}
    {% set apellidos = 24 %}
    <h2>Me llamo {{ user.name|default('') }} {{ apellidos|default('')}} y mi edad es {{ user.age|default('') }} </h2>

    {% endblock %}
</body>

</html>