<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><img height="35px" src="{# LOGO #}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="{{ path('listPokemons') }}">Inicio <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{{ path('listPokemons') }}">Listar Pokemon</a>
                        <a class="nav-link" href="{{path('createPokemon')}}">Crear Pokemon</a>
                        {% if is_granted('ROLE_USER') %}
                        <p>{{ app.user.username|default('') }}</p>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
            {% block js %} {% endblock %}
        </div>
    </body>
</html>
