{% extends 'pokemons/basePokemon.html.twig' %}

{% block body %}
{% for message in app.flashes('success') %}
<p>{{ message }}</p>
{% endfor %}
<h2>Listado de Pokemons </h2>
<div class="row row-cols-1 row-cols-md-2">
    {% for pokemon in pokemons %}
    <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ pokemon.image }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{pokemon.name}}</h5>
                <p class="card-text">{{ pokemon.description }}</p>
                <a href="{{ path('getPokemon', {'id': pokemon.id}) }}" class="btn btn-primary">Más Info</a>
                <a href="{{ path('updatePokemon', {'id': pokemon.id}) }}" class="btn btn-primary">Editar</a>
                {% if is_granted('ROLE_USER') %}
                <a href="{{ path('deletePokemon', {'id': pokemon.id}) }}" class="btn btn-primary">Borrar</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block title %}Listado de Pokemons{% endblock %}