{% extends "pokemons/basePokemon.html.twig" %}

{% block body %}
                <div class="row">
                    <div class="col text-center"><h2>{{pokemon.name}} Nº {{pokemon.code}}</h2></div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="{{pokemon.image}}">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">{{pokemon.description}}</div>
                        </div>
                        <div class="row">
                            <ul>
                            {% for debilidad in pokemon.debilidades %}
                                <li>{{debilidad.name}}</li>
                            {% endfor %}
                               
                            </ul>
                        </div>
                    </div>
                </div>
{% endblock %}